<div class="about">
    <i class="bi bi-arrow-left" routerLink="/home"></i>
    <p>About us</p>
</div>
<div class="about-us">
  <h2>About us</h2>
  <span><a routerLink="/home">Home</a> / About Us</span>
</div>

<div class="container">
  <div class="started">
    <div class="how-started">
      <span>How It Started</span>
      <h2>
        Our Dream is Global Learning Transformation
      </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit debitis adipisci saepe voluptas dolores eos et accusamus repudiandae rerum voluptatum nostrum tempora, quod ea, hic fugit quas enim, deleniti voluptate omnis cupiditate facilis error beatae. Eius cum earum consequatur, iste voluptatem quidem rerum harum. Quos nostrum rem dolorum, quibusdam ad a minus praesentium porro nobis. Accusantium dicta quia autem!
      </p>
    </div>
    <div class="img">
      <img src="About/our dream.jpg" alt="">
      <div class="statistic">
        <div class="box">
          <h4>2.5</h4>
          <p>Years Experience</p>
        </div>
        <div class="box">
          <h4>50+</h4>
          <p>Project Challenge</p>
        </div>
        <div class="box">
          <h4>250+</h4>
          <p>Positive Reviews</p>
        </div>
        <div class="box">
          <h4>50K</h4>
          <p>Trusted Students</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->