<div class="about">
    <i class="bi bi-arrow-left" routerLink="/home"></i>
    <p>About us</p>
</div>
<div class="about-us">
  <h2>About us</h2>
  <span><a routerLink="/home">Home</a> / About Us</span>
</div>

<div class="container">
  <section class="sections started">
    <div class="how-started">
      <span>How It Started</span>
      <h2>
        Our Dream is Global Learning Transformation
      </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit debitis adipisci saepe voluptas dolores eos et accusamus repudiandae rerum voluptatum nostrum tempora, quod ea, hic fugit quas enim, deleniti voluptate omnis cupiditate facilis error beatae. Eius cum earum consequatur, iste voluptatem quidem rerum harum. Quos nostrum rem dolorum, quibusdam ad a minus praesentium porro nobis. Accusantium dicta quia autem!
      </p>
    </div>
    <div class="img">
      <img src="About/our dream.jpg" alt="">
      <div class="statistic">
        <div class="box">
          <h4>2.5</h4>
          <p>Years Experience</p>
        </div>
        <div class="box">
          <h4>50+</h4>
          <p>Project Challenge</p>
        </div>
        <div class="box">
          <h4>250+</h4>
          <p>Positive Reviews</p>
        </div>
        <div class="box">
          <h4>50K</h4>
          <p>Trusted Students</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container">
  <section class="sections vision_mission">
    <div class="vision">
      <span>Our Vision</span>
      <h2>
        Empowering Lives Through Education
      </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid hic corrupti dolorem cupiditate alias doloribus est assumenda nobis unde. Sint quae non mollitia illo consequuntur aliquam modi quo esse assumenda?
      </p>
    </div>
    <div class="mission">
      <span>Our Mission</span>
      <h2>
        Learning for All, Everywhere
      </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid hic corrupti dolorem cupiditate alias doloribus est assumenda nobis unde. Sint quae non mollitia illo consequuntur aliquam modi quo esse assumenda?
      </p>
    </div>
  </section>
</div>

<div class="container">
  <section class="sections meet_our_team">
    <div class="meet">
      <span>Meet The Team</span>
      <h2>
        Meet Our Dedicated Team of<br>
        Educators & Innovators
      </h2>
      <div class="teams">
        <div class="team">
          <img src="About/chopper.png" alt="">
          <div class="info">
            <div class="name">
              <h5>Abanoub Rashad</h5>
              <p>The Manager</p>
            </div>
            <a href="https://www.linkedin.com/" target="_blank"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="team">
          <img src="About/mina.png" alt="">
          <div class="info">
            <div class="name">
              <h5>Mina Nady</h5>
              <p>The Founder & CEO</p>
            </div>
            <a href="https://www.linkedin.com/in/mena-nady/" target="_blank"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="team">
          <img src="About/chopper.png" alt="">
          <div class="info">
            <div class="name">
              <h5>Youssef Zarif</h5>
              <p>The Manager</p>
            </div>
            <a href="https://www.linkedin.com/" target="_blank"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<app-footer></app-footer>