<div class="container">
  <div class="content">
    <div class="logo">
      <h1>Learny.</h1>
      <div class="text">
        <p>
          Make it fun <br>
          Make it easy
        </p>
        <!-- <p>Make it easy</p> -->
      </div>
    </div>
    <div class="subscribe">
      <p>Subscribe to get our Newsletter</p>
      <div class="input">
        <input type="email" name="email" id="email" placeholder="Your Email">
        <button>Subscribe</button>
      </div>
    </div>
    <div class="policy">
      <p>
        <a href="">Careers</a> 
        <a href="">Privacy Policy</a> 
        <a href="">Terms & Conditions</a>
      </p>
      <p>© 2024 Learny. </p>
    </div>
  </div>
</div>