<div class="parent">
  <div class="container">
    <div class="content">
      <div class="logo">
        <h1><span class="blue">Lear</span>ny<span class="blue">.</span></h1>
        <div class="text">
          <p>
            Make it fun <br />
            Make it easy
          </p>
        </div>
      </div>
      <div class="subscribe">
        <p>Subscribe to get our Newsletter</p>
        <div class="input">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Your Email"
          />
          <button>Subscribe</button>
        </div>
      </div>
      <div class="policy">
        <p>
          <a href="">Careers</a>
          <a href="">Privacy Policy</a>
          <a href="">Terms & Conditions</a>
        </p>
        <p>© 2024 Learny.</p>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="copyright">&copy; 2024 Learny. All rights reserved</div>
    <div class="links">
      <a href="https://facebook.com"><i class="bi bi-facebook"></i></a>
      <a href="https://instagram.com"><i class="bi bi-instagram"></i></a>
      <a href="https://twitter.com"><i class="bi bi-twitter-x"></i></a>
    </div>
  </div>
</div>
