.container {
  width: 100%;
  height: 100vh;
  background-color: var(--dark);
  padding: 20px;
  display: flex;
  justify-content: center;
}
.menu {
  /* background-color: #211111; */
  width: 300px;
  /* width: 25%; */
  padding: 40px 0;
  color: var(--light);
  overflow: hidden;
  transition: .5s;
  z-index: 1000;
}
.menu.closed {
  width: 100px;
}

.menu .logo {
  text-align: center;
  cursor: pointer;
}
.menu .logo #menu-list {
  background-color: #1b1b1b;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: inline-block;
}
.blue {
  color: var(--blue);
}
.logo .learny {
  transition: .5s;
}
.menu.closed .logo .learny {
  display: none;
}
.menu ul {
  list-style: none;
  margin-block: 80px;
  /* margin-left: 10px; */
  transition: .5s;
}
.menu.closed ul {
  margin-left: 0px;
}
.menu ul li {
  cursor: pointer;
  margin-bottom: 30px;
  text-transform: capitalize;
  padding-inline: 30px;
  display: flex;
  align-items: center;
}
.menu ul li span {
  margin-left: 10px;
}
.menu ul li i {
  font-size: 20px;
}
.menu.closed ul li {
  display: block;
  text-align: center;
}
.menu.closed span.text {
  display: none;
}
.menu.closed ul li i {
  font-size: 24px;
}

.active {
  /* padding: 15px 30px;  */
  padding-block: 15px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  position: relative;
  cursor: pointer;
  color: var(--blue);
  background-color: var(--light);
  transition: .5s;
}

.active::before {
  content: '';
  width: 55px;
  height: 55px;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: -100%;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--light);
  transition: .5s;
}
.active::after {
  content: '';
  width: 55px;
  height: 55px;
  background-color: transparent;
  position: absolute;
  right: 0;
  bottom: -100%;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--light);
  transition: .5s;
}
.menu.closed .active::before {
  top: -74%;
}
.menu.closed .active::after {
  bottom: -74%;
}


.content {
  background-color: var(--light);
  width: calc(100% - 300px);
  /* width: 75%; */
  border-radius: 40px;
  padding: 40px;
  /* overflow: hidden; */
  overflow-y: scroll;
  overflow-x: hidden;
  transition: .5s;
}
.content::-webkit-scrollbar {
  /* Width of the vertical scrollbar */
  width: 6px;
  transition: .5s;
}

.content::-webkit-scrollbar-thumb {
  background-color: var(--dark);
  /* Color of the scrollbar handle */
  border-radius: 10px;
  /* Rounded corners */
  border: 2px solid transparent;
  /* Optional border for thumb */
  background-clip: content-box;
  /* Prevent thumb background bleeding */
}

.content::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue);
  /* Darker color when hovered */
}

/* The color of the bar itself */
.content::-webkit-scrollbar-track {
  margin-top: 40px;
  margin-bottom: 40px;
  /* background-color: blue;  */
  border-radius: 10px;
  /* Rounded corners for the track */
}
.content.opened {
  width: calc(100% - 100px);
  /* width: 90%; */
}

@media (max-width: 768px){
  .menu {
    width: 200px;
  }
  .content {
    width: calc(100% - 200px);
  }
}
@media (max-width: 650px){
  .menu {
    position: absolute;
    left: 19px;
    top: 40px;
    height: 0;
    background-color: var(--dark);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-top: 0;
    width: 80px;
  }
  .menu.openedSmall {
    width: 300px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .menu.openedSmall.Height {
    height: calc(100% - 80px);
    padding-block: 40px;
  }
  .active {
    border-radius: 10px;
    margin-inline: 10px;
  }
  .active::before,
  .active::after {
    box-shadow: none;
  }
  .content {
    width: 100%;
    padding: 60px 10px 10px;
  }
}
@media (max-width: 425px) {
  .menu {
    overflow-y: hidden;
    /* overflow-y: auto; */
  }
  .menu.openedSmall {
    overflow-y: auto;
  }
  .menu.openedSmall {
    width: 250px;
  }
}

.welcomeContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.welcome {
  text-align: center;
  background-color: rgb(26, 164, 206);
  width: fit-content;
  padding: 20px 60px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-inline: auto;
  position: relative;
  transition: .5s;
  color: white;
}
.welcome i {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}