<div class="container">
  <div class="menu">
    <div class="logo">
      <h2 (click)="toggle()">
        <span id="menu-list">L</span>
        <span class="learny">
          <span class="blue"> Lear</span>ny<span class="blue">.</span>
        </span>
      </h2>
    </div>
    <ul>
      <!-- <li
        *ngFor="let item of items; let i = index"
        (click)="onItemClick(i)"
        [ngClass]="{
          selected: selectedIndex === i,
          deselected: selectedIndex !== null && selectedIndex !== i
        }"
      >
        {{ item }}
      </li> -->
      <li routerLink="Home Dashboard" routerLinkActive="active">
        <i class="bi bi-house-fill"></i>
        <span class="text"> dashboard</span>
      </li>
      <li routerLink="leaderboard" routerLinkActive="active">
        <i class="bi bi-list-ol"></i> 
        <span class="text"> leaderboard</span>
      </li>
      <li routerLink="/courses" routerLinkActive="active">
        <i class="bi bi-mortarboard-fill"></i>
        <span class="text"> browse</span>
      </li>
      <li routerLink="/login" routerLinkActive="active">
        <i class="bi bi-box-arrow-left"></i>
        <span class="text"> logout</span>
      </li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <div class="welcomeContainer">
  <div class="welcome">
    <i class="bi bi-x" (click)="WelcomeHide()"></i>
    <h2>Welcome, Guest!</h2>
    <p>We're happy to see you here</p>
  </div>
</div> -->