<div class="community">
  <div class="blur">
    <nav>
      <i class="bi bi-arrow-left" routerLink="/home"></i>
      <h2>
        <span class="blue">Lear</span>ny<span class="blue">.</span>
      </h2>
      <div class="left">
        <span>20</span> Days Left
      </div>
    </nav>
    <section>
      <div>
        <h1>
          coming soon...
        </h1>
        <p>
          We're currently working on creating something fantastic.
        </p>
        <button routerLink="/home">Back Home</button>
      </div>
    </section>
    <footer>
      <p>Website by Learny.</p>
      <p>&copy; All Right Reserved</p>
      <div class="links">
        <a href="https://www.facebook.com"><i class="bi bi-facebook"></i></a>
        <a href="https://x.com/"><i class="bi bi-twitter"></i></a>
        <a href="https://www.instagram.com"><i class="bi bi-instagram"></i></a>
      </div>
    </footer>
  </div>
</div>