.community {
  height: 100vh;
  background: url("../../../../public/Community/mountain.jpg");
  background-size: cover;
  background-position: center;
}
.blur {
  backdrop-filter: blur(15px);
  padding-top: 30px;
  padding-inline: 7%;
  display: flex;
  flex-direction: column; 
  height: 100vh;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav i {
  cursor: pointer;
}
nav h2 {
  font-size: 28px;
}
.blue {
  color: var(--blue);
}
.left {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 5px;
  color: gray;
  font-size: 12px;
}
.left span {
  font-weight: bold;
  color: rgb(58, 58, 58);
  font-size: 18px;
}


section{
  display: flex;
  flex: 1;
  text-align: center; 
  justify-content: center;
  align-items: center;
}
section h1 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 4vw;
  margin-block: 20px;
}
section button {
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: var(--dark);
  color: var(--light);
  cursor: pointer;
  margin-block: 20px;
  transition: .5s;
}
section button:hover {
  background-color: #242424;
}
footer {
  text-align: center;
  padding: 10px;
  color: gray;
}
footer p {
  margin-block: 5px;
  font-size: 10px;
}
.links a {
  margin-inline: 5px;
  text-decoration: none;
  color: gray;
  font-size: 10px;
}

@media (max-width: 768px) {
  section h1 {
    font-size: 30px;
  }
}
@media (max-width: 425px) {
  nav h2 {
    font-size: 18px;
  }
  nav .left {
    font-size: 8px;
  }
  .left span {
    font-size: 12px;
  }
}