<section>
  <div class="parent">
    <div class="container">
      <div class="notfound">
        <span class="four">4</span>
        <span class="zero">O</span>
        <span class="four">4</span>
      </div>
      <div class="text">
        the page you're looking for can't be found. it's looks like you're trying to access a page that either has been deleted or never existed...
      </div>
      <div class="home">
        <button routerLink="/home"><i class="bi bi-arrow-left-short"></i> back home</button>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="copyright">&copy; 2024 Learny. All rights reserved</div>
    <div class="links">
      <a href="https://facebook.com"><i class="bi bi-facebook"></i></a>
      <a href="https://instagram.com"><i class="bi bi-instagram"></i></a>
      <a href="https://twitter.com"><i class="bi bi-twitter-x"></i></a>
    </div>
  </div>
</section>
<!-- <div class="bugs"> -->
    <!-- <img src="NotFound/bug.png" alt=""> -->
    <!-- <img src="NotFound/bug.png" alt=""> -->
    <!-- <img src="NotFound/bug.png" alt="">
    <img src="NotFound/bug.png" alt="">
    <img src="NotFound/bug.png" alt="">
    <img src="NotFound/bug.png" alt="">
    <img src="NotFound/bug.png" alt="">
    <img src="NotFound/bug.png" alt="">
    <img src="NotFound/bug.png" alt="">
    <img src="NotFound/bug.png" alt=""> -->
<!-- </div> -->
<!-- the page you're looking for can't be found. it's looks like you're trying to access a page that either has been deleted never existed... -->