<div class="back">
  <div class="content">
    <i class="bi bi-arrow-left" routerLink="/home"></i>
    <p>Courses</p>
  </div>
  <div class="user">
    <div class="search">
      <input type="text" placeholder="Search..." (input)="search(in.value)" #in/>
      <i class="bi bi-search"></i>
    </div>
    <i class="bi bi-person-circle" (click)="user()"></i>
    <i class="bi bi-caret-up-fill"></i>
    <ul>
      <li>
        <a routerLink="/login">Login</a>
      </li>
      <li>
        <a routerLink="/login">Signup</a>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="listStyle">
    <i
      class="bi bi-grid-3x3-gap-fill"
      id="grid"
      [ngClass]="getClass('grid')"
      (click)="clicked('grid')"
    ></i>
    <i
      class="bi bi-list-task"
      id="list"
      [ngClass]="getClass('list')"
      (click)="clicked('list')"
    ></i>
  </div>

  <!-- Card countainer -->
  <div [ngClass]="getViewClass()">
    <!-- Card -->
    <div class="course" *ngFor="let myCourse of arrOfCourses" [ngClass]="course()">
      <div class="empty">
        <div class="btns" [ngClass]="btns()">
          <a (click)="preview(myCourse)" id="preview">Preview</a>
          <a routerLink="/login" *ngIf="myCourse.courseName == 'Frontend'">Enroll</a>
        </div>
      </div>
        <img [src]="myCourse.img" alt="" />
      <div class="context" [ngClass]="context()">
        <div class="text">
          <h3>{{myCourse.courseName}} Developer</h3>
          <p>
            {{myCourse.courseDes}}
          </p>
        </div>
        <div class="info" [ngClass]="info()">
          <div>
            <i class="bi bi-journals"></i>
            {{myCourse.lessons}} Lessons
          </div>
          <div>
            <i class="bi bi-stopwatch"></i>
            {{myCourse.len}} hr
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sliderContainer" (click)="hide($event)">
  <div class="slider">

    <div class="dash"></div>
    <div class="frameContainer">
      <iframe
        title="YouTube video player"
        [src]="safeUrl"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>

    <div class="container">
      <h3>Quick Introduction</h3>
      <p>
        {{selectedCard.des}}
      </p>
      <h3>What you will learn?</h3>
      <ul>
        <li *ngFor="let point of selectedCard.whatYouLearn">
          {{point}}
        </li>
      </ul>

      <div class="CourseContent">
        <div class="contentHeader" (click)="syllabus()">
          <h3>Our Syllabus</h3>
          <i class="bi bi-chevron-down"></i>
        </div>
        <ol class="subjects">
          <li *ngFor="let point of selectedCard.syllabus">
            {{point}}
          </li>
        </ol>
      </div>

      <div class="btnSlider">
        <button (click)="preview2()" id="back"><i class="bi bi-arrow-left-short"></i> Back</button>
        <button routerLink="/login" *ngIf="selectedCard.track == 'Frontend'">Let's Start <i class="bi bi-arrow-right-short"></i></button>
      </div>
    </div>
  </div>
</div>