<div class="parent">
  <div class="blur">
    <section class="container">
      <nav>
        <i class="bi bi-list" (click)="menu()"></i>
        <div class="logo">Learny.</div>
        <ul>
          <li>
            <a href="">Home</a>
          </li>
          <li>
            <a href="">About</a>
          </li>
          <li>
            <a href="">Teachers</a>
          </li>
          <li>
            <a href="">Courses</a>
          </li>
          <li>
            <a href="">Career</a>
          </li>
        </ul>
        <div class="join">
          <a href="">Join Now</a>
        </div>
      </nav>
      <div class="hero">
        <div class="left">
          <h1>
            Keep Learning On Track
          </h1>
          <div class="cards">
            <div class="card one">
              <div class="card-head">
                <img src="Home/react.png" alt="react">
                <h3>Front-end Developer</h3>
              </div>
              <div class="card-body">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam culpa fuga soluta minus at error, blanditiis aliquid sapiente tenetur beatae veniam modi quam accusamus voluptas animi quibusdam nulla repudiandae cupiditate.
                </p>
                <a href="#">Explore</a>
              </div>
            </div>
            <div class="card two">
              <div class="card-head">
                <img src="Home/php.png" alt="php">
                <h3>Back-end Developer</h3>
              </div>
              <div class="card-body">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam culpa fuga soluta minus at error, blanditiis aliquid sapiente tenetur beatae veniam modi quam accusamus voluptas animi quibusdam nulla repudiandae cupiditate.
                </p>
                <a href="#">Explore</a>
              </div>
            </div>
            <div class="card three">
              <div class="card-head">
                <img src="Home/devops.png" alt="php">
                <h3>DevOps Developer</h3>
              </div>
              <div class="card-body">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam culpa fuga soluta minus at error, blanditiis aliquid sapiente tenetur beatae veniam modi quam accusamus voluptas animi quibusdam nulla repudiandae cupiditate.
                </p>
                <a href="#">Explore</a>
              </div>
            </div>
          </div>
        </div>
        <div class="right">
          <p>
            Elevate your management skills with our cutting-edge courses. Join Our Courses for Comprehensive Learning.
          </p>
          <a href="">Start Now</a>
          <img src="Home/Robot.png" alt="Robot" id="robot">
          <div class="test">
            <div class="joiners">
              <span>1.2K</span>
              <div class="imgs">
                <img src="Home/person (1).jpg" alt="">
                <img src="Home/person (2).jpg" alt="">
                <img src="Home/person (3).jpg" alt="">
              </div>
            </div>
            <p><i class="bi bi-info-circle-fill"></i> Total number of users completed the training</p>
          </div>
        </div>
      </div>
    </section>
    <div class="circle">
      <div class="arrow" (click)="hide()">
        <i class="bi bi-arrow-down"></i>
        <div class="text">
          <p>Explore More - </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="courses">
  Lorem ipsum dolor sit amet.
</div>